In [7]:
import pandas as pd
import zipfile
import os

def clean_campaign_data():
    input_dir='../files/input/'
    #output_dir='files/output/'
    #os.makedirs(output_dir, exist_ok=True)
    
    client_data=[]
    #campaign_data=[]
    #economics_data=[]
    
    for file_name in os.listdir(input_dir):
        if file_name.endswith('.csv.zip'):
            with zipfile.ZipFile(input_dir+file_name, 'r') as z:
                for csv_file in z.namelist():
                    with z.open(csv_file) as f:
                        df=pd.read_csv(f)
                        if 'client_id' in df.columns:
                            client_data.append(df)


    return pd.concat(client_data)

h=clean_campaign_data()
h

,Unnamed: 0,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome
0,0,0,56,housemaid,married,basic.4y,no,no,may,13,261,1,0,nonexistent,93.994,4.857,no
1,1,1,57,services,married,high.school,unknown,no,may,19,149,1,0,nonexistent,93.994,4.857,no
2,2,2,37,services,married,high.school,no,yes,may,23,226,1,0,nonexistent,93.994,4.857,no
3,3,3,40,admin.,married,basic.6y,no,no,may,27,151,1,0,nonexistent,93.994,4.857,no
4,4,4,56,services,married,high.school,no,no,may,3,307,1,0,nonexistent,93.994,4.857,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4113,4113,41183,73,retired,married,professional.course,no,yes,nov,30,334,1,0,nonexistent,94.767,1.028,yes
4114,4114,41184,46,blue-collar,married,professional.course,no,no,nov,6,383,1,0,nonexistent,94.767,1.028,no
4115,4115,41185,56,retired,married,university.degree,no,yes,nov,24,189,2,0,nonexistent,94.767,1.028,no
4116,4116,41186,44,technician,married,professional.course,no,no,nov,17,442,1,0,nonexistent,94.767,1.028,yes
4117,4117,41187,74,retired,married,professional.course,no,yes,nov,23,239,3,1,failure,94.767,1.028,no